/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-planet4-gpch-ab-testing-variant {
	background-color: rgba(33, 155, 78, 0.81);
	color: #fff;
	padding: 2px;
}
