.conditional-container {
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	background-color: #eee;

	.buttons {
		float: right;
	}

	p {
		margin: 0;
	}

	.info {

		p {
			margin-bottom: 0.5rem;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.conditional-details {

		.components-button.is-primary {
			margin-right: 0.5rem;
		}
	}
}
